# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

# DATABASE_URL="postgresql://admin:admin@localhost:5435/mydb?schema=R&K"
# SECRET=askjdkas21873561872v787812t3121267vsdrasd121276fe612r37612r6712r867

# ACCOUNTSIDWHATS="AC83f368607fe3851cfb6b8cba512e56da"
# AUTHTOKENWHATS="2762ca1167444f9898c8f121ea1d650b"

# MAILSERVICE="Hotmail"
# MAILADDRESS="testesmpcomvini@hotmail.com"
# MAILPASS="Vv1n1$23"

